<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>砖头科技</title>
    <link rel="stylesheet" href="../lib/ini.css" />
    <link rel="stylesheet" href="../lib/comBtn.css" />
    <link rel="stylesheet" href="../lib/font-awesome-4.3.0/css/font-awesome.min.css" />
  </head>
  <body>

    <div id = "header"><%- frontHeadComponent %></div>
    <div id = "content"><%- contentMainComponent %></div>
    <div id = "foot"><%- frontFootComponent %></div>    

  </body>

<link rel="stylesheet" href="../common/frontHead/headMain.css" />
<link rel="stylesheet" href="../index/content/content.css" />
<link rel="stylesheet" href="../common/frontFoot/foot.css" />

</html>