<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="utf-8">
  <title>砖头科技</title>
  <link rel="stylesheet" href="../lib/ini.css" />
  <link rel="stylesheet" href="../lib/font-awesome-4.3.0/css/font-awesome.min.css" />
  <script src="../lib/jquery-2.1.4.min.js"></script>
</head>

<body>
  <div id = 'header'><%- frontHeadComponent %></div>
  <div id = 'content'><%- frontContentComponent %></div>
  <div id = 'foot'><%- frontFootComponent %></div>
</body>

<link rel="stylesheet" href="../common/frontHead/headMain.css" />
<link rel="stylesheet" href="../index/content/content.css" />
<link rel="stylesheet" href="../common/frontFoot/foot.css" />
<link rel="stylesheet" href="../show/show.css" />
<link rel="stylesheet" href="../common/frontBanner/banner.css" />

<script src = './show/bundle.min.js'></script>
</html>
