.indexControlCompontent-img {
	float: left;
	width: 85%;
}

.indexControlCompontent-numChart {
	width: 660px;
	height: 305px;
}

.indexControlCompontent-numChartPos {
	margin-left: 7%;
	margin-right: 5%;
	width: 52%;
	float: left;
}

.indexControlCompontent-numChartPos span {
	font-size: 16px;
	margin-top: 10px;
	display: block;
	text-align: center;
}

.indexControlCompontent-memChart {
	width: 210px;
	height: 210px;
	float: left;
	margin-top: 50px;
}

.indexControlCompontent-memChartPos {
	width: 60%;
	margin-left: 25%;
	float: left;
	margin-bottom: 40px;
	margin-top: 20px;
}

.indexControlCompontent-cpuChart {
	margin-top: 10px;
	width: 280px;
	height: 280px;
	margin-left: 15%;
	float: left;
}

.indexControlCompontent-cpuChartFont{
	font-size: 16px;
	margin-left: 25%;
}

.indexControlCompontent-memChartPos span{
	font-size: 16px;
	margin-left: 11%;
}