<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <title>砖头科技</title>
    <link rel="stylesheet" href="../lib/font-awesome-4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./dist/mIndex.min.css" />
  </head>
  <body id = 'body'>
    <%- nav %>
    <%- content %>
    <%- foot %> 
  </body>
  <script src = './dist/mIndex.min.js'></script>
</html>