 .bannerContent-background {
  width: 100%;
  background: url('../component/show/content/img/background.png') #f5f5f5;
  height: 160px;
}
.bannerContent-position {
  margin-left: 13%;
}
.bannerContent-title {
  font-size: 27px;
  display: block;
  padding-top: 35px;
}
.bannerContent-content {
  display: block;
  padding-top: 23px;
  font-size: 18px;
}

.slideBar-position {
  float: left;
  width: 28%;
}
.slideBar-sortPosition {
  padding-left: 45%;
  border-right: 1px solid #dedede;
  margin-top: 40px;
}
.slideBar-slideSort {
  font-size: 22px;
  font-weight: bold;
  border-left: 4px solid #3bb4f2;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.slideBar-slideSort > span {
  padding-left: 4%;
}
.slideBar-list > li {
  font-size: 16px;
  margin-top: 8px;
  height: 25px;
  line-height: 25px;
  padding-left: 6%;
  cursor: pointer;
}
.slideBar-list > li:hover {
  background-color: #eee
}

.showContent-content {
  width: 68%;
  float: left;
  padding-top: 40px;
  padding-left: 4%;
}
.showContent-title {
  font-size: 23px;
  font-weight: bold;
  display: block;
  height: 55px;
  margin-bottom: 30px;
  margin-left: 6%;
  width: 71%;
  border-bottom:  1px solid #dedede;
}
.showContent-example {
  margin-left: 6%;
  margin-top: 40px;
}
.showContent-font {
  font-size: 17px;
  display: block;
  background-color: #eee;
  border: 2px solid #dedede;
  border-top: none;
  width: 75%;
  word-break: break-all;
}