.nav-pos
{
    width: 100%;
    height: 60px;

    color: red;
    border-bottom: 1px solid black;
    background-color: #8a4037;
}

.nav-logo
{
    width: 30%;
    height: 35px;
    margin-top: 10px;
    margin-left: 5%;
}

.nav-icon
{
    font-size: 27px;
    line-height: 60px;

    float: right;

    margin-right: 6%;

    color: #e5e5e5;
}
