.nav-pos
{
  width: 100%;
	height: 60px;
  color: red;
  background-color: #3bb0f0;
  border-bottom: 1px solid black;
}

.nav-logo
{
	height: 35px;
  margin-left: 5%;
  width: 30%;
  margin-top: 10px;
}

.nav-icon{
	color: #e5e5e5;
	font-size: 27px;
	float: right;
	margin-right: 6%;
	line-height: 60px;
}
